.main{
    margin:auto;
    width:400px;
    margin-top: 40px;
}
.main > img{
    width: 350px;
}
.form-main{
    margin-top: 113px;
    margin-left: 40px;
}


.input100 {
    font-family: Poppins-SemiBold;
    font-size: 18px;
    color: #555555;
    line-height: 1.2;
  
    display: block;
    width: 100%;
    height: 52px;
    background: transparent;
    padding: 0 5px;

    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
  }
.wrap-input100 {
    width: 280px;
    position: relative;
    border-bottom: 2px solid #d9d9d9;
    margin: 25px 0px;
  }
.focus-input100 {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}
input {
	outline: none;
	border: none;
}  
.login100-form-btn:hover {
	cursor: pointer;
}


.focus-input100::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;

    background: #ff7016;
}
  
.focus-input100::after {
    font-family: Poppins-Medium;
    font-size: 18px;
    color: #999999;
    line-height: 1.2;
  
    content: attr(data-placeholder);
    display: block;
    width: 100%;
    position: absolute;
    top: 15px;
    left: 0px;
    padding-left: 5px;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
  
.input100:focus + .focus-input100::after {
    top: -20px;
    font-size: 15px;
}
  
.input100:focus + .focus-input100::before {
    width: 100%;
}
  
.has-val.input100 + .focus-input100::after {
    top: -20px;
    font-size: 15px;
}
  
.has-val.input100 + .focus-input100::before {
    width: 100%;
}

.container-login100-form-btn {
    width: 100px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
    margin-left: -7px;
  }
  
.login100-form-btn {
    font-family: Poppins-Medium;
    height: 33px !important;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    box-shadow: 0 3px #999 !important; 

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    background-color: #bababa;
    border-radius: 25px;
  
    box-shadow: 0 10px 30px 0px rgba(87, 184, 70, 0.5);
    -moz-box-shadow: 0 10px 30px 0px rgba(87, 184, 70, 0.5);
    -webkit-box-shadow: 0 10px 30px 0px rgba(87, 184, 70, 0.5);
    -o-box-shadow: 0 10px 30px 0px rgba(87, 184, 70, 0.5);
    -ms-box-shadow: 0 10px 30px 0px rgba(87, 184, 70, 0.5);
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}


.login100-form-btn:active{
    box-shadow: 0 1px #666 !important;
  transform: translateY(2px);
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }



input::-webkit-input-placeholder { color: #adadad;}
input:-moz-placeholder { color: #adadad;}
input::-moz-placeholder { color: #adadad;}
input:-ms-input-placeholder { color: #adadad;}

